{% extends "syncope/base.html" %}

{% block title %}{% if object %}Edit Organization{% else %}Create Organization{% endif %}{% endblock %}

{% block content %}

<h2>{% if object %}Edit {{ object.name }}{% else %}Create Organization{% endif %}</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="form-actions">
    {% if object %}
    <a href="{% url 'syncope:org_dashboard' object.user.username %}" class="btn btn-link">Cancel</a>
    {% endif %}
    <button type="submit" class="btn btn-primary">{% if object %}Save{% else %}Create{% endif %}</button>
  </div>
  {% if object %}
  <p><a href="{% url 'syncope:org_delete' object.user.username %}" class="btn btn-danger">Delete</a></p>
  {% endif %}
</form>

{% endblock %}